<div class="header">
    <a [routerLink]="['/']" routerLinkActive="router-link-active"  class="logo">CompanyLogo</a>
    <div class="header-right">
      <a [routerLink]="['/page1']" routerLinkActive="active">Page1</a>
      <a [routerLink]="['/page2']" routerLinkActive="active">Page2</a>
      <a [routerLink]="['/page3']" routerLinkActive="active">Page3</a>
      <a [routerLink]="['/page4']" routerLinkActive="active">Page4</a>
      <a [routerLink]="['/page5']" routerLinkActive="active">Page5</a>
    </div>
  </div>
  
  <router-outlet></router-outlet>